<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <!-- FAVICON -->
    <link rel="shortcut icon" href="public/favicon.ico" type="image/x-icon">
    <link rel="icon" href="public/favicon.ico" type="image/x-icon">
    <!-- FONTAWESOME -->
    <link href="/dist/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- JQUERY-UI -->
    <link href="/dist/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <!-- BOOTSTRAP -->
    <!--
    <link href="/dist/css/bootstrap.yeti.min.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/bootstrap.united.min.css" rel="stylesheet" type="text/css" />
    -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/bootstrap-grid.min.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css" />
    <style>
        h3 {
            display: inline;
            margin: 0 auto;
            padding: 0;
        }
        .b {
            border: 1px solid red;
        }
    </style>
</head>
<body>
    <div class="container m-0 p-0 mx-auto">
        <div class="row m-0 p-0 mx-auto">
            <div class="b col-md-6 m-0 p-0">
                <h3>Home(1) from HTML by consolidate.js and hogan.js</h3>
            </div>
            <div class="b col-md-6 m-0 p-0">
                <h3>Home(2) from HTML by consolidate.js and hogan.js</h3>
            </div>
            <div class="b col-md-6 m-0 p-0">
                <h3>Home(3) from HTML by consolidate.js and hogan.js</h3>
            </div>
        </div>
    </div>

    <script src="/dist/js/jquery.min.js"></script>
    <script src="/dist/jquery-ui.min.js"></script>
    <script src="/dist/js/popper.min.js"></script>
    <script src="/dist/js/tooltip.min.js"></script>
    <script src="/dist/js/bootstrap.min.js">/* bootstrap required jQuery and popperjs. */</script>
    <script src="/dist/js/moment.min.js"></script>
</body>
</html>